{% extends "layout.html" %}
{% block content %}

<h1>CREATE</h1>
<section class="container">
	<form action="{{ url_for('bookCreate') }}" method="POST" class="book-form">
		<label for="title">Title</label><br>
		<input type="text" name="title" class="form-input" required><br>
		<label for="author">Author</label><br>
		<input type="text" name="author" class="form-input" required><br>
		<input type="submit" value="Submit" class="submit-button">
	</form>

	{% if msg %}
	<p class="form-message">{{ msg }}</p>
	{% endif %}

</section>
{% endblock content %}