<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Book</title>
	{% endif %}
</head>

<body>
	<header>
		<nav class="navbar">
			<ul class="navbar-list">
				<li class="navbar-item"><a href="/">BOOK</a></li>
				<li class="navbar-item"><a href="{{ url_for('home.home') }}">Home</a></li>
				<li class="navbar-item"><a href="{{ url_for('books.books_list') }}">Books</a></li>
				<li class="navbar-item"><a href="{{ url_for('books.book_create') }}">Create</a></li>
				<li class="navbar-item"><a href="{{ url_for('about.about') }}">About</a></li>
			</ul>
		</nav>
	</header>

	    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} form-message message-fadeout">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

	<main>
			<div>
				{% block content %}{% endblock %}
			</div>
	</main>
</body>

</html>